.top-nav-control{
	padding:15px 5px;
}

.page-title{
	margin:5px 20px 20px 20px;
	padding:10px;
	border-bottom:1px solid #ccc;
}

.panel-controls{
	padding:10px 5px;
}

.terminal-panel{
	max-height:500px;
	overflow-y:auto; 
}

h4.panel-title{
	display:inline-block;
	font-size:20px;
	font-weight:500;
}
h4.panel-subtitle{
	border-bottom:solid 1px #ccc;
	padding-bottom:10px;
}

.panel-ms{
	width:100%;
	min-height:500px;
	padding:10px;
	border:solid 1px #ccc;
	margin-top:15px;
}

.queue-item-box{
	margin-bottom:4px;
	padding:5px 10px;
	border:solid 1px #cdcdcd;
	border-radius:5px;	
	color:#fff;
}

.queue-item-idle {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#497fcc+0,274f93+100 */
	background: #497fcc; /* Old browsers */
	background: -moz-linear-gradient(top, #497fcc 0%, #274f93 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #497fcc 0%,#274f93 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #497fcc 0%,#274f93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#497fcc', endColorstr='#274f93',GradientType=0 ); /* IE6-9 */
}

.queue-item-success {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#88ce63+0,1b843e+100 */
	background: #88ce63; /* Old browsers */
	background: -moz-linear-gradient(top, #88ce63 0%, #1b843e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #88ce63 0%,#1b843e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #88ce63 0%,#1b843e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88ce63', endColorstr='#1b843e',GradientType=0 ); /* IE6-9 */
}

.queue-item-fail {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efa5a5+0,ce4242+100 */
	background: #efa5a5; /* Old browsers */
	background: -moz-linear-gradient(top, #efa5a5 0%, #ce4242 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #efa5a5 0%,#ce4242 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #efa5a5 0%,#ce4242 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efa5a5', endColorstr='#ce4242',GradientType=0 ); /* IE6-9 */
}

a.queue-item-edit-icon {
	display:inline-block;
}
a.queue-item-edit-icon span{
	width:15px;
	height:15px;
}
a.queue-item-edit-icon img {
	width:15px;
	height:15px;
}


.normal-text{
	color:#555;
}
.green-text{
	color:#049300;
}
.red-text {
	color:#D30000;
}
.counter {
	font-weight:bold;
	font-size:18pt;
}
.counter-success{
	color:#286ebf;
}
.counter-fail{
	color:#d12121;
}

/*==================================
=            CSV Import            =
==================================*/
.progress-container{
	display:inline-block;
	height:18px;
}
/*=====  End of CSV Import  ======*/




